body{
    font-family: 'Roboto', sans-serif;
}

.app_header {
    line-height: 1;
}

.logo_text {
    color: #000000;
    font-size: 3rem;
    vertical-align: top;
}

.app_main {
    background-color: #f6f8f9;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.container {
    background-color: #ffffff;
    width: 70%;
    margin: auto;
    background-color: white;
    border-radius: 10px;
    padding-bottom: 2rem;
}
/* /container */

.part {
    width: 85%;
    margin: auto;
}

.selector {
    border-bottom: solid #f4f7f8;
    padding-top: 1rem;
    padding-bottom: 0.2rem;
}

#blue_button {
    color: white;
    background-color: #47adf1;
    border-radius: 5px;
    border-color: white;
    width: 90px;
    height: 30px;
}

#white_button {
    color: grey;
    background-color: white;
    border-radius: 5px;
    border-color: white;
    width: 90px;
    height: 30px;
}

h2 {
    margin-top: 2rem;
    margin-bottom: 0;
}

span {
    display: inline-block;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
}

.circle {
    font-size: 0.7rem;
    padding: 3px;
    margin-right: 0.2rem;
}

.check {
    color: #69c3ae;
    border: #69c3ae solid;
    border-radius: 50%;
}

.cross {
    color: #e8433b;
    border: #e8433b solid;
    border-radius: 50%;
}

.badge {
   border-radius: 10px;
   color: white;
   font-size: 0.6rem;
   padding: 3px;
   padding: 5px 10px;
}

.bg_lightblue {
    background-color: #45abea;
}

.bg_violet {
    background-color: #9c72e4;
}

.bg_green {
    background-color: #64c0a9;
}

.bg_orange {
    background-color: #f29e33;
}

.bg_pink {
    background-color: #d863a1;
}

.bg_lime {
    background-color: #b0c926;
}
/* /Main */

footer {
    padding-top: 2rem;
    text-align: center;
    font-size: 1rem;
}